{% extends "base.html" %}

{% block content %}

<h1>Adding a game to one of your lists</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.steam_id.label }}<br>
        {{ form.steam_id(class="form-control") }}<br>
        {% for error in form.steam_id.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status(class="form-control") }}<br>
        {% for error in form.status.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>

{% endblock %}