{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width: 75%">
    <h1>{{ data['name'] }}</h1>
    <div class="row row-cols-2">
        <div class="col">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>App ID</td>
                        <td>{{ game_id }}</td>
                    </tr>
                    {% for key, val in table_data.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ val }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <a class="btn btn-primary" href="https://store.steampowered.com/app/{{ game_id }}/">Store</a>
                <a class="btn btn-primary" href="https://steamcommunity.com/app/{{ game_id }}/">Hub</a>
                {% if current_user.is_authenticated %}
                    <a class="btn btn-success" href="/add_game/{{ game_id }}">Add</a>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <img src="{{ data['header_image'] }}" width="324" height="151" alt="{{ data['name'] }}"/>
            <br />
            <p>{{ data['short_description'] }}</p>
        </div>
    </div>
</div>

{% endblock %}