{% extends "base.html" %}

{% block content %}

<h1><strong>{{ user.nickname }}</strong></h1>

{% if not user.stats_private or current_user.id == user.id %}
    <div class="row">
        <div class="col">
            <h3>Overall stats</h3>
            <ul>
                {% for status in status_list %}
                    {% set ns = namespace (c = 0) %}
                    {% for row in game_status %}
                        {% if row.status == status_list.index(status) %}
                            {% set ns.c = ns.c + 1 %}
                        {% endif %}
                    {% endfor %}
                    <li><strong>{{ status }}</strong> >> <strong>{{ ns.c }}</strong></li>
                {% endfor %}
                <li><strong>reviews</strong> >> <strong>{{ reviews|length }}</strong></li>
            </ul>
        </div>
    </div>

    <div>
        {% for review in reviews %}
            <div class="p-5 bg-body-tertiary border rounded-3 row row-cols-2">
                <div class="col-8">
                    <h3>I{{ " don't" if not review.positive }} recommend <strong>{{ data[loop.index - 1]['data']['name'] }}</strong>.</h3>

                    <p>Rated on: {{ review.created_date }}</p>
                    <p>{{ review.content }}</p>
                </div>
                <div class="col-4">
                    <img src="{{ data[loop.index - 1]['data']['header_image'] }}" width="324" height="151" alt=":)"/> <br />
                    <a class="btn btn-primary" href="https://store.steampowered.com/app/{{ review.steam_id }}/">Store</a>
                    <a class="btn btn-primary" href="https://steamcommunity.com/app/{{ review.steam_id }}/">Hub</a>
                </div>
            </div>
            <br />
        {% endfor %}
    </div>
{% else %}
    <h3>Statistics and reviews of <strong>{{ user.nickname }}</strong> are private.</h3>
{% endif %}

{% endblock %}